// Cross-browsers opacity: @include opacity(0.5);
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// Transitions for all: @include transition($transition);
$transition: all .3s ease;

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

// Input placeholder animation: @include placeholder { color: #000 }
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

    
.input{
    margin: 15px 0;
    padding: 20px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    text-overflow: ellipsis;
    border-radius: 2px;
    @include placeholder{
        color: grey;
        transition: $transition;
        @include opacity(1);
    }
    
    &:focus {
        @include placeholder {
            @include opacity(0);
            transition: $transition;
        }
        outline: none;
    }
    
}