.previewcollection{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    // width: 100%;

    .title {
        font-size: 28px;
        margin-bottom: 25px;
        cursor: pointer;
    }
    
    .preview {
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
        overflow: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}