.login {
    width: 40%;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;

    .title {
        font-weight: bold;
    }

    .subtitle {
        font-size: 12px;
    }

    form {
        padding: 20px 0px;
        width: 100%;
    }

    .form-footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}